.chipDelivered{
    color:white !important;
    background-color: rgb(58, 218, 170) !important;
}

.chipPending{
    color:white !important;
    background-color: rgb(221, 87, 87) !important;
}
.margenTopcontainer{
    margin-top: 2%;
}
.cardStyle{
    background-color: rgba(128,128,128,0.04) !important; 
    border-radius: 2px !important;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%) !important;
    /* padding: 20px 15px 20px 5px; */
  }
  
  .gridItem{
    margin-top: 10px;
  }
  .gridItemContaienr{
      margin-top: 20px !important ;
  }
  .date{
    font-family: Titilium web !important;
    font-style: normal !important;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase !important;
    color:grey;
    margin-bottom: 20px;
}